@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
::selection {
    color: whitesmoke;
    background: rgb(70, 70, 70);
}
.section{
    height: 100vh;
}
nav ul li{
    padding: 0 15px;
}
nav a{
    cursor: pointer;
}
nav a:hover{
    background-color: black;
    color: whitesmoke!important;
    /* border-radius: 40px; */
    transition: 100ms;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.main-heading{
    font-size: 50px;
}
main .text-black{
    text-decoration: none;
}
main .text-black:hover{
    text-decoration: underline 4px solid rgb(95, 95, 95);
}
main .img-circle{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
main .img-circle img{
    -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  border-radius:50%;
}
main .social-icons{
    display: flex;
    list-style: none;
}
main .social-icons li{
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
}
main .social-icons li i{
    padding: 7px;
}
main .social-icons li a{
    color: black;
    border-radius: 50%;
}
main .social-icons li a:hover{
    color: white;
    background-color: black;
}
footer{
    margin-top: 93px;
    color: white;
}
